@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <br /><br />
    <br />
    <h2 class="display-4">Welcome To The Resource Booking System</h2>
    <br />
    <br /><br />
    <br /><br />
    <br /><br />

    <br />
</div>
